ACTION=="change", SUBSYSTEM=="power_supply", ENV{DEVPATH}=="/devices/platform/adc-battery/power_supply/ac", RUN+="/bin/sh -c '/bin/kill -s USR1 `cat /tmp/pid`"

ACTION=="change", SUBSYSTEM=="power_supply", ENV{DEVPATH}=="/devices/platform/adc-battery/power_supply/battery", RUN+="/bin/sh -c '/bin/kill -s USR1 `cat /tmp/pid`'"