# extra base subset is the basic subset of all rootfs, ramdisk. 
#  - we have to use eudev, because wayland need udev support
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
#  - vensor storage tool is used to r/w SN, wifi/bt/lan mac
BR2_PACKAGE_VENDOR_STORAGE=y
#  - usb device package used to init and config udc like adb and usb mass storage
BR2_PACKAGE_USBDEVICE=y
#  - usbmount used to mount usb disk to /media/ when it plug in
BR2_PACKAGE_USBMOUNT=y
#  - input event daemon used to handle key event, ie. power on/off system
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
#  - upower used to monitor the power state of system
BR2_PACKAGE_UPOWER=y
#  - pm utils used to suspend/resume system
BR2_PACKAGE_PM_UTILS=y
#  - we need to use fsck and resize2fs to check and extend ext2/4 file system when the first time system boot up
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_FSCK=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
#  - we need to use dostool, mkfs.fat to format fat file system when the first time system boot up
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
#  - we need adb as the basic tool
BR2_PACKAGE_ANDROID_TOOLS=y
#  - update tool is a command used to write factory reset or ota update command to /misc, then reboot system
#  - after that, uboot will read command from /misc and boot up recovery image
BR2_PACKAGE_UPDATE=y
