# Elements used to communicate with camera applications
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_APP=y
# Convert audio to different formats
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_AUDIORATE=y
# Creates audio test signals of given frequency and volume
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_AUDIOTESTSRC=y
# various encoding-related elements
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_ENCODING=y
# Adjusts video frames
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VIDEORATE=y
# ogg stream manipulation (info about ogg: http://xiph.org)
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_OGG=y
# Theora plugin library
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_THEORA=y
# Vorbis plugin library
BR2_PACKAGE_GST1_PLUGINS_BASE_PLUGIN_VORBIS=y
# JPeg plugin library
BR2_PACKAGE_GST1_PLUGINS_GOOD_JPEG=y
# PNG plugin library
BR2_PACKAGE_GST1_PLUGINS_GOOD_PNG=y
# adds an alpha channel to video - constant or via chroma-keyin
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_ALPHA=y
# APEv1/2 tag reader
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_APETAG=y
# parses au streams
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_AUPARSE=y
# Demux ID3v1 and ID3v2 tags from a file
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_ID3DEMUX=y
# Reads/Writes buffers from/to sequentially named files
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_MULTIFILE=y
# Real-time protocol plugins
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_RTP=y
# RTP session management plugin librar
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_RTPMANAGER=y
# transfer data via RTSP
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_RTSP=y
# resizes a video by adding borders or cropping
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOBOX=y
# Crops video into a user-defined region
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOCROP=y
# Video filters plugin
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOFILTER=y
# Video mixer
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_VIDEOMIXER=y
# Take image snapshots and record movies from camera
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_CAMERABIN2=y
# MPEG TS demuxer
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_MPEGTSDEMUX=y
# MPEG TS muxer
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_MPEGTSMUX=y
# MPEG-PS muxer
BR2_PACKAGE_GST1_PLUGINS_BAD_PLUGIN_MPEGPSMUX=y
# V4L2 plugin of gstreamer
BR2_PACKAGE_GST1_PLUGINS_GOOD_PLUGIN_V4L2=y
