BR2_PACKAGE_DBUS=y
BR2_PACKAGE_FLAC=y
BR2_PACKAGE_LIBERATION=y
BR2_PACKAGE_LIBNSS=y
BR2_PACKAGE_WEBP=y
BR2_PACKAGE_WEBP_DEMUX=y
BR2_PACKAGE_WEBP_MUX=y
BR2_PACKAGE_LIBXSLT=y
BR2_PACKAGE_LIBV4L_RKMPP=y
BR2_PACKAGE_CHROMIUM_WAYLAND=y
BR2_GCC_VERSION_9_X=y
BR2_PACKAGE_QT5WEBENGINE=y
BR2_PACKAGE_QT5BASE_EXAMPLES=y
BR2_PACKAGE_QT5WEBENGINE_PROPRIETARY_CODECS=y
BR2_PACKAGE_QT5WEBENGINE_ALSA=y
