#  - a DHCP client
BR2_PACKAGE_DHCPCD=y
#  - a lightweight DNS and DHCP server. It is intended to provide coupled DNS and DHCP service to a LAN
BR2_PACKAGE_DNSMASQ=y
#  - Network Time Protocol, provides things like ntpd, ntpdate, ntpq, etc...
BR2_PACKAGE_NTP=y
#  - tiny ssh server and sftp server
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_GESFTPSERVER=y
# BR2_PACKAGE_DROPBEAR_CLIENT is not set
#  - Someone will use ssh to login
BR2_TARGET_GENERIC_ROOT_PASSWD="rockchip"
