BR2_ROOTFS_OVERLAY="board/rockchip/rk1806/fs-overlay-sysv/"

BR2_PACKAGE_JSON_FOR_MODERN_CPP=y
BR2_PACKAGE_LIBRKDB
BR2_PACKAGE_MINILOGGER=y
BR2_PACKAGE_LIBIPCPROTOCOL=y
BR2_PACKAGE_LIBGDBUS=y
BR2_PACKAGE_LIBCGICC=y
BR2_PACKAGE_IPCWEB_BACKEND=y
BR2_PACKAGE_DBSERVER=y
BR2_PACKAGE_NETSERVER=y
BR2_PACKAGE_STORAGE_MANAGER=y
#BR2_PACKAGE_RK_OEM=y
#BR2_PACKAGE_RK_OEM_RESOURCE_DIR="$(TOPDIR)/../device/rockchip/oem/oem_ipc"
BR2_PACKAGE_IPC_DAEMON=y
BR2_PACKAGE_DBUS_GLIB=y
BR2_PACKAGE_DBUS_CPP=y
BR2_PACKAGE_SQLITE_STAT3=y
BR2_PACKAGE_SQLITE_ENABLE_FTS3=y
BR2_PACKAGE_SQLITE_ENABLE_JSON1=y
BR2_PACKAGE_SQLITE_ENABLE_UNLOCK_NOTIFY=y
BR2_PACKAGE_SQLITE_SECURE_DELETE=y
BR2_PACKAGE_RTMPDUMP=y
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_AVAHI_LIBDNSSD_COMPATIBILITY=y
BR2_PACKAGE_CONNMAN=y
BR2_PACKAGE_CONNMAN_WIFI=y
BR2_PACKAGE_CONNMAN_LOOPBACK=y
BR2_PACKAGE_CONNMAN_CLIENT=y

BR2_PACKAGE_NGINX=y
BR2_PACKAGE_NGINX_HTTP_SSL_MODULE=y
BR2_PACKAGE_NGINX_DEBUG=y
BR2_PACKAGE_NGINX_RTMP=y
BR2_PACKAGE_FCGIWRAP=y

BR2_PACKAGE_UPDATE=y
BR2_TARGET_TZ_INFO=y
BR2_TARGET_TZ_ZONELIST="default"
BR2_TARGET_LOCALTIME="Etc/UTC"
BR2_PACKAGE_RKFACIAL_USE_WEB_SERVER=y
