BR2_aarch64=y
BR2_cortex_a55=y
BR2_GCC_VERSION_9_X=y
BR2_KERNEL_HEADERS_4_19=y
BR2_PACKAGE_RK356X=y
BR2_ROOTFS_OVERLAY="board/rockchip/rk356x/fs-overlay/"
BR2_TARGET_GENERIC_GETTY_PORT="ttyFIQ0"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_1500000=y
BR2_TARGET_GENERIC_HOSTNAME="RK356X"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK356X Buildroot"
# TEMP modify to fix Server Kernel Version low than 4.19
# BR2_PACKAGE_GLIBC_GEN_LD_CACHE is not set
BR2_PACKAGE_HOST_QEMU=y
