BR2_PACKAGE_BOOST=y
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PYEXPAT=y
BR2_PACKAGE_PYTHON_PYPARSING=y
BR2_PACKAGE_PYTHON_NETIFACES=y
BR2_PACKAGE_PYTHON_CATKIN_PKG=y
BR2_PACKAGE_PYTHON_BZIP2=y
BR2_PACKAGE_FINDUTILS=y
BR2_PACKAGE_POCO=y
BR2_PACKAGE_TINYXML=y
BR2_PACKAGE_TINYXML2=y
BR2_PACKAGE_EIGEN=y
BR2_PACKAGE_ROS_SUPPORT_SET=y
BR2_PACKAGE_ROS_KINETIC=y
BR2_PACKAGE_PYTHON_ROS_SET=y
BR2_PACKAGE_HOST_CATKIN=y
BR2_PACKAGE_CATKIN=y
BR2_PACKAGE_ROSPACK=y
BR2_PACKAGE_CLASS_LOADER=y
BR2_PACKAGE_ACTIONLIB=y
BR2_PACKAGE_GEOMETRY2_SET=y
BR2_PACKAGE_TF2_SENSOR_MSGS=y
BR2_PACKAGE_GEOMETRY2=y
BR2_PACKAGE_TF2_TOOLS=y
BR2_PACKAGE_TF2_KDL=y
BR2_PACKAGE_TF2_GEOMETRY_MSGS=y
BR2_PACKAGE_DYNAMIC_RECONFIGURE=y
BR2_PACKAGE_STD_SRVS=y
BR2_PACKAGE_PLUGINLIB=y
BR2_PACKAGE_ANGLES=y
BR2_PACKAGE_ROSBAG=y
BR2_PACKAGE_MK=y
BR2_PACKAGE_ROS=y
BR2_PACKAGE_ROSBOOST_CFG=y
BR2_PACKAGE_ROSBUILD=y
BR2_PACKAGE_ROSCLEAN=y
BR2_PACKAGE_ROSCREATE=y
BR2_PACKAGE_ROSLANG=y
BR2_PACKAGE_ROSMAKE=y
BR2_PACKAGE_ROSCPP_CORE=y
BR2_PACKAGE_COMMON_MSGS=y
BR2_PACKAGE_DIAGNOSTIC_MSGS=y
BR2_PACKAGE_NAV_MSGS=y
BR2_PACKAGE_SHAPE_MSGS=y
BR2_PACKAGE_STEREO_MSGS=y
BR2_PACKAGE_TRAJECTORY_MSGS=y
BR2_PACKAGE_VISUALIZATION_MSGS=y
BR2_PACKAGE_ROS_COMM=y
BR2_PACKAGE_ROSWTF=y
BR2_PACKAGE_ROSTOPIC=y
BR2_PACKAGE_ROSOUT=y
BR2_PACKAGE_ROSNODE=y
BR2_PACKAGE_ROSSERVICE=y
BR2_PACKAGE_ROSPARAM=y
BR2_PACKAGE_ROSMASTER=y
BR2_PACKAGE_ROSMSG=y
BR2_PACKAGE_ROSLAUNCH=y
BR2_PACKAGE_GEOMETRY_SET=y
BR2_PACKAGE_GEOMETRY=y
BR2_PACKAGE_EIGEN_CONVERSIONS=y
BR2_PACKAGE_KDL_CONVERSIONS=y
BR2_PACKAGE_TF=y
BR2_PACKAGE_TF_CONVERSIONS=y
BR2_PACKAGE_ROSBASH=y
