BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_SWSCALE=y
BR2_PACKAGE_FFMPEG_ENCODERS="h264_rkmpp mp2 aac"
BR2_PACKAGE_FFMPEG_DECODERS="h264_rkmpp"
BR2_PACKAGE_FFMPEG_MUXERS="mp4"
BR2_PACKAGE_FFMPEG_DEMUXERS="h264 aac rtp"
BR2_PACKAGE_FFMPEG_PARSERS=""
BR2_PACKAGE_FFMPEG_BSFS=""
BR2_PACKAGE_FFMPEG_PROTOCOLS="file"
BR2_PACKAGE_FFMPEG_FILTERS=""
# BR2_PACKAGE_FFMPEG_INDEVS is not set
# BR2_PACKAGE_FFMPEG_OUTDEVS is not set
BR2_PACKAGE_RKMEDIA_ALSA_CAPTURE=y
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_RKFFPLAY=y
BR2_PACKAGE_FFMPEG_AVRESAMPLE=y
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_LIBDRM=y
