#include "arm_a7.config"
#include "gcc8.config"
BR2_TARGET_GENERIC_GETTY_PORT="ttyFIQ0"
BR2_TARGET_GENERIC_GETTY_BAUDRATE_1500000=y
BR2_TARGET_GENERIC_HOSTNAME="RV1126_RV1109"
BR2_TARGET_GENERIC_ISSUE="Welcome to RV1126_RV1109 Buildroot"
BR2_PACKAGE_RV1126_RV1109=y
BR2_ROOTFS_OVERLAY="board/rockchip/rv1126_rv1109/fs-overlay/"
