BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="3.10.104"
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_10=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_VERSION_7_X=y
BR2_PACKAGE_HOST_GDB=y
BR2_PACKAGE_HOST_GDB_TUI=y
BR2_PACKAGE_HOST_GDB_PYTHON=y
BR2_CCACHE=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set

BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZ4=y
# BR2_TARGET_ROOTFS_TAR is not set

BR2_PACKAGE_ROCKCHIP=y
BR2_PACKAGE_RV1108=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/rockchip/rv1108/busybox.config"
BR2_PACKAGE_LIBJPEG=y
BR2_ROOTFS_OVERLAY="board/rockchip/rv1108/fs-overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/rockchip/rv1108/post-build.sh"
BR2_PACKAGE_VENDOR_STORAGE_LIBRARY=y

