# test subset collect test tools 
#  - memtest used to testing the memory subsystem for faults
BR2_PACKAGE_MEMTESTER=y
#  - rt test is a set of utilities for testing the real-time behaviour of a Linux system
BR2_PACKAGE_RT_TESTS=y
#  - a configurable amount of CPU, memory, I/O, and disk stress on the system
BR2_PACKAGE_STRESS=y
#  - stress test on cpu and memory
BR2_PACKAGE_STRESSAPPTEST=y
#  - audio, reboot, bluetooth, ddr, dvfs, flash, suspend/resume, wifi
BR2_PACKAGE_ROCKCHIP_TEST=y
