# video_mpp subset is user space library for harware acceleration of video decoding and encoding
#  - user space library for use vpu to do video decoding and encoding
BR2_PACKAGE_MPP=y
#  - we use drm for memory allocate
BR2_PACKAGE_MPP_ALLOCATOR_DRM=y
#  - user space library for use rga to do image zoom in/out, rotate, etc
BR2_PACKAGE_LINUX_RGA=y
