# FFMPEG; ffplay
BR2_PACKAGE_FFMPEG=y
BR2_PACKAGE_FFMPEG_GPL=n
BR2_PACKAGE_FFMPEG_NONFREE=n
BR2_PACKAGE_FFMPEG_DEBUG=n
BR2_PACKAGE_FFMPEG_SMALL=y
BR2_PACKAGE_FFMPEG_FFPLAY=n
BR2_PACKAGE_FFMPEG_AVRESAMPLE=n
BR2_PACKAGE_FFMPEG_FFPROBE=n
BR2_PACKAGE_FFMPEG_POSTPROC=n
BR2_PACKAGE_FFMPEG_SWSCALE=n
BR2_PACKAGE_FFMPEG_INDEVS=n
BR2_PACKAGE_FFMPEG_OUTDEVS=n
BR2_PACKAGE_FFMPEG_PARSERS="aac opus mpegaudio vorbis g729 h264 hevc mjpeg"
BR2_PACKAGE_FFMPEG_ENCODERS="pcm_alaw pcm_mulaw aac mp2 adpcm_g722 adpcm_g726"
BR2_PACKAGE_FFMPEG_DECODERS="pcm_alaw pcm_mulaw aac mp2 mp3 vorbis opus g722 g726 g729 h264 hevc mjpeg"
BR2_PACKAGE_FFMPEG_DISABLE_DECODERS="ac3 eac3 truehd mlp dca"
BR2_PACKAGE_FFMPEG_MUXERS=""
BR2_PACKAGE_FFMPEG_DEMUXERS="pcm_alaw pcm_mulaw aac mp3 g722 g726 rawvideo h264 mjpeg mpeg mpegts mov matroska avi"
BR2_PACKAGE_FFMPEG_BSFS="aac_adtstoasc h264_metadata h264_mp4toannexb h264_redundant_pps hevc_metadata hevc_mp4toannexb mp3_header_decompress dump_extradata extract_extradata remove_extradata"
BR2_PACKAGE_FFMPEG_PROTOCOLS="file http https rtp srtp rtmp rtmps tcp udp udplite"
BR2_PACKAGE_FFMPEG_FILTERS=""
# Enable SDL2 for ffmpeg
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGLES=y
