#include "rk3229_arm.config"
#include "base.config"
#include "base_extra.config"
#include "gpu.config"
#include "display.config"
#include "video_mpp.config"
#include "video_gst.config"
#include "audio.config"
#include "camera.config"
#include "test.config"
#include "debug.config"
#include "benchmark.config"
#include "wifi.config"
#include "network.config"
#include "bt.config"
#include "qt.config"
#include "qt_app.config"
BR2_ROOTFS_OVERLAY="board/rockchip/rk3229/fs-overlay/"
BR2_TARGET_GENERIC_HOSTNAME="rk3229"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3229 Buildroot"
BR2_PACKAGE_RKWIFIBT_COMPATIBLE=y
