#include "base.config"
#include "base_extra.config"
#include "rv1126_rv1109_arm.config"
#include "recovery_updateEngine.config"
BR2_ROOTFS_OVERLAY="board/rockchip/rv1126_rv1109/fs-overlay-recovery/"
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O ^64bit,^huge_file"
