#include "rk1806_arm.config"
#include "base.config"
#include "base_extra.config"
#include "debug.config"
#include "audio.config"
#include "wifi.config"
#include "network.config"
#include "video_mpp.config"
#include "rk1806_webserver.config"
#include "camera.config"
BR2_TARGET_GENERIC_HOSTNAME="rk1806"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK1806 Buildroot"

BR2_PACKAGE_RKWIFIBT_AP6212A1=y

BR2_PACKAGE_MINIGUI_ENABLE_RGA=y
BR2_PACKAGE_MINIGUI_ENABLE_FREETYPE=y
BR2_PACKAGE_MINIGUI_ENABLE_PNG=y
BR2_PACKAGE_MINIGUI_SOFTWARE_SCALE=n
BR2_PACKAGE_FICIAL_GATE=y
# BR2_PACKAGE_CAMERA_ENGINE_RKISP_3A_SERVICE is not set
BR2_PACKAGE_RKNPU_NOT_RUN_RKNN_SERVER=y

BR2_TOOLCHAIN_GLIBC_GCONV_LIBS_COPY=y
BR2_TOOLCHAIN_GLIBC_GCONV_LIBS_LIST="GBK"

BR2_PACKAGE_RKFACIAL=y
