#include "rk3126c_arm.config"
#include "base.config"
#include "base_extra.config"
#include "gpu.config"
#include "video_mpp.config"
#include "audio.config"
#include "wifi.config"
#include "network.config"
BR2_TARGET_GENERIC_HOSTNAME="rk3126c"
BR2_TARGET_GENERIC_ISSUE="Welcome to RK3126C Buildroot"
BR2_PACKAGE_RKWIFIBT_RTL8723DS=y
BR2_PACKAGE_MINIGUI=y
BR2_PACKAGE_MINIGUI_ENABLE_FREETYPE=y
BR2_PACKAGE_MINIGUI_ENABLE_PNG=y
BR2_PACKAGE_MINIGUI_DESKTOP=y
BR2_PACKAGE_RKSCRIPT=y
BR2_PACKAGE_DEVICEIO=y
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_WAYLAND=y
BR2_PACKAGE_READLINE=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_NTP_NTPTIME=y
