#include "rk3308_arm.config"
#include "recovery.config"
#  - use glibc as the basic libc
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
#  - Rockchip use 4.4 kernel, so we need 4.4 kernel header
BR2_KERNEL_HEADERS_4_4=y
#  - use local kernel source
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="file://$(TOPDIR)/../kernel"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="HEAD"
#  - we use buildroot toolcharn here, may change to custom toolchain in the feature
BR2_TOOLCHAIN_BUILDROOT_CXX=y
#  - the post build script will be excuted after all fs-overlay copyed
BR2_ROOTFS_POST_BUILD_SCRIPT="build/post.sh"
#  - specify this is rockchip package
BR2_PACKAGE_ROCKCHIP=y
#  - show other busybox config
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
#  - we need to support various rootfs, cpio for ramdisk, ext2/4 for large system, squashfs for small system
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
#  - some people may wish to use their own modified BusyBox configuration file.
BR2_PACKAGE_BUSYBOX_CONFIG="board/rockchip/common/base/busybox.config"
# extra base subset is the basic subset of all rootfs, ramdisk.
#  - we have to use eudev, because wayland need udev support
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
#  - vensor storage tool is used to r/w SN, wifi/bt/lan mac
BR2_PACKAGE_VENDOR_STORAGE=y
#  - usb device package used to init and config udc like adb and usb mass storage
BR2_PACKAGE_USBDEVICE=y
#  - we need adb as the basic tool
BR2_PACKAGE_ANDROID_TOOLS=y
BR2_PACKAGE_RKSCRIPT=y
BR2_PACKAGE_RECOVERY_NO_UI=y
